.cont {
    margin-left: 80px;
    margin-right: 80px;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 10px;
}

.overlay {
    z-index: 50;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background color */
    display: flex;
    justify-content: center;
    align-items: center;
     /* Adjust the blur radius as needed */
  }
  
  .popup-form {
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    z-index: 3;
    position: relative;
  }
.cont-div-left{
    width: 100%;
    height: 500px;
}
h1{
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 40px;
}

.cards-div{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 10px;
    width: 100%;
    margin-top: 70px;
}

.cards{
    width: 100%;
}
.img-a{
    border-radius: 10px;
    height: 230px;
}

.cards-aa{
  background-color: #4483f7; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 15px;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 100%;
  border-radius: 10px;
    
}
.cards-aa:hover {
    background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
  }




.cont-div-right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.dd{
    width: 500px;
    height: 480px;
    border-radius: 20px;
}



@media (max-width: 768px) {
    .cont {
        margin-top: 80px;
        margin-left: 0;
        margin-right: 0;
        height: auto; /* Change to auto for content to adjust */
        display: flex;
        flex-direction: column;
        
    }

    .cards-div {
        /* Change to a single column for small screens */
        margin-top: 20px;
      
        display: flex;
        flex-direction: column;
        justify-items: center;
        padding: 20px;
         /* Adjust margin for smaller screens */
    }
    .cont-div-right {
        order: -1;
        margin-top: 30px;
         height: auto;
          /* Set a negative order to move it to the top in the flex layout */
     }
     .img-a{
         border-radius: 10px;
         height: 180px;
         width: 100%; 
     }
     
     .cards{
         display: flex;
         flex-direction: column;
         padding: 15px;
         
     }
     .cont-div-left{
         display: flex;
         flex-direction: column;
         justify-items: center;
         height: auto;
     }
     .dd{
         width: 320px;
         height: 380px;
         border-radius: 10px;
         margin-right: 0px;
         
     }
     .hhh{
        margin-left: 50px;
     }
     .ppp{
         margin-left: 55px;
     }

}


