.whyus-hire-wrapper{
    width:90vw;
    max-width: 1200px;
    padding-top: 4rem;
    padding-bottom: 5rem;

    margin: 0 auto;
    
}

.whyus-hire-container{
    padding: 2rem;
    border-radius: 0.5rem;

    display: flex;
    flex-direction: column;
    gap: 3rem;

}
.whyus-hire-heading>h2{
    color: #27376f;
    text-align: center;
    font-size: 48px;
    opacity: 90%;
    letter-spacing: 2px;
}

.whyus-hire-content-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 3rem;
}

.whyus-hire-content-subwrapper{
    box-shadow: 1px 1px 5px lightblue;
    padding: 2rem 1.25rem;
    border-radius: 1rem;
    background-color: #faf9fc;
}

.whyus-hire-content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.fixed-width{
    width: 300px;
}

.whyus-hire-content-bottom{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    text-align: center; 
    align-items: center; 
}

@media (min-width:300px) and (max-width:786px){
    #whyus-hire-content-bottom-id{
        flex-direction: column;
        gap: 3rem;
    }

    #sub-box-id{
        flex-direction: column;
        gap: 3rem;
    }

    #whyus-hire-content-container-id{
        flex-direction: column;
    }

    #main-box-id{
        flex-direction: column;
    }
}

.fixed-width>h3{
    font-size: xx-large;
    /* color: #524f4f; */
    letter-spacing: 1px;
    /* line-height: 30px; */
}

.whyus-hire-content-bottom>p{
    /* width: 300px; */
    text-align: left;
    font-size: large;
    margin: 0 auto;
    padding-left: 2rem;
    font-weight: 500;
    letter-spacing: 1px;
    word-spacing: 4px;
    

    color: #27376f;
}